<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Backup System</title>
	<link rel="icon" href="{{ url_for('static', filename='logo/logo.ico') }}" type="image/ico">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}" type='text/css'>
</head>
<body>
	<div class="logo">
		<img src="{{ url_for('static', filename='logo/logo.jpg') }}" alt="Backup System" />
	</div>

	{% if dir_path %}
	<div class="dir_path">
		<span class="label">Directory Path:</span><br>
		<span class="path">{{ dir_path }}</span>
	</div>

	{% else %}
	<div class="proceed">
		<form action="/dir_path" method="post">
			<label for="dir_path">Directory Path:</label><br>
			<input type="text" id="dir_path" name="dir_path" placeholder="Directory Path">
			<button type="submit">Proceed</button>
		</form>
	</div>
	{% endif %}
</body>
</html>
